$primaryButtonShadow: 9px 7px 32px -11px rgba(20,233,86,0.74);
$beforeButtonShadow: 0 0 60px rgba(20,233,86,0.64);
$projectDetailsShadow: 6px 6px 0px 0px rgba(20,233,86,1);
$projectImgShadow: rgba(155,156,159, 0.42) 0px 60px 123px -25px,
rgba(155,156,159, 0.08) 0px 35px 75px -35px;
$projectReverseImgShadow: 0px 19px 67px -38px rgba(155,156,159,0.8);
$projectReverseImgHoverShadow: 0px 19px 67px -38px rgba(155,156,159,0.8);