.tooling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  &.show {
    opacity: 1;

    .tooling-box {
      animation: jackInTheBox 2s ease forwards;
    }
  }

  .tooling-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(#0c8c34, 1);
    border-radius: 15px;
    width: 50%;
    padding: 0.5rem;
    margin: 5rem 0;
    @media (min-width: 1025px) and (max-width: 1300px) {
      padding: 0.4rem;
    }
    @media (min-width: 760px) and (max-width: 1024px) {
      padding: 0.3rem;
      width: 70%;
    }
    @media (min-width: 480px) and (max-width: 759px) {
      width: 70%;
    }
    @media (max-width: 479px) {
      width: 80%;
    }
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
